@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
    overflow: hidden;
}
#bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(4px);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
}
#movieInfo::after {
    content: 'MORE MOVIES';
    position: absolute;
    top: 0;
    right: 0;
    color: #F00;
    font-family: 'Racing Sans One', cursive !important;
    font-size: 250%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}
#moviePosters {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}
.moviePosterContainer {
    height: 344px;
    position: absolute;
    z-index: 10;
    top: 24%;
    cursor: pointer;
}
.moviePosterContainer:nth-of-type(2) {
    left: 70%;
    transform: translate(-50%, 0%);
    z-index: 5;
}
.moviePosterContainer:last-of-type {
    left: 80%;
    transform: translate(-50%, 0%);
    z-index: 4;
}
.focus > img {
    height: 115vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 0;
}
.focus > img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.animate-focus {
    animation: focus-animation 5s forwards;
    animation-iteration-count: infinite;
}
@keyframes focus-animation {
    0% {
        position: absolute;
        height: 115vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    70% {
        position: absolute;
        height: 115vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    100% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
}
.animate-first {
    animation: first-animation 5s forwards;
    animation-iteration-count: infinite;
}
@keyframes first-animation {
    0% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }
    70% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    100% {
        position: absolute;
        height: 115vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}
.animate-second {
    animation: second-animation 5s forwards;
    animation-iteration-count: infinite;
}
@keyframes second-animation {
    0% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    70% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    100% {
        position: absolute;
        height: 344px;
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }
}
#movieInfo {
    width: 1400px;
    height: 200px;
    position: absolute;
    z-index: 101;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    height:0;
    pointer-events: none;
}
#movieCategory {
    position: relative;
    font-weight: 700;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 505%;
    font-style: normal;
    font-weight: 700;
    line-height: 120.6%;
    width: 600px;
}
.movieName {
    position: relative;
    margin-top: 20px;
    font-size: 185%;
    font-weight: 700;
}
#movieNameKor {
    max-width: 500px;
    white-space: nowrap;
}
#movieNameKor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 2px;
    height: 62px;
    background-color: #A7A7A7;
}
#movieData {
    position: absolute;
    margin-top: 110px;
    color: #A7A7A7;
    font-family: Rajdhani;
    font-size: 130%;
    font-style: normal;
    font-weight: 600;
    line-height: 120.6%; /* 25.326px */
}
#movieData > p {
    margin-top: 20px;
}
#simpleReview {
    padding: 20px;
    position: absolute;
    top: 65vh;
    left: 20%;
    display: flex;
    width: 440px;
    justify-content: space-between;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
    border-radius: 10px; /* 둥근 모서리를 만들어 줍니다 */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}
.simpleNumber {
    font-weight: 700;
    font-size: 175%;
}
.simpleName {
    font-size: 125%;
}
#simpleShare {
    text-align: center;
}
#simpleShare > .simpleNumber {
    color: #9664FF;
}
#simpleLike > .simpleNumber {
    color: #FF0000;
}
#watcher {
    text-align: center;
}
#movieNameKor, #title, #genre, #release, #overView, #runtime, #voteOuter, #bg, #movieTrailerContent {
    transition: all 0.5s ease-in-out;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
#release {
    text-align: center;
}
#voteOuter {
    text-align: center;
}
#overView {
    width: 600px;
    height: 100px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#overView::-webkit-scrollbar {
    display: none;
}
#movieTrailerContent {
    position: absolute;
    right: 0;
    top: 50vh;
    z-index: 101;
}
#movieTrailerTitle {
    font-size: 175%;
    font-family: 'Permanent Marker', cursive;
}
#trailer {
    pointer-events: initial;
    width: 320px;
    height: 180px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}