#mbtiSelectBlock {
    width: 300px;
    height: 80px;
    position: absolute;
    right: 0;
}
#mbtiSelectBlock > select{
    width: 60px;
    height: 80px;
    background-color: #000;
    font-size: 24px;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
    text-align: center;
}