@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
#gnb {
    left: 50%;
    top: 2%;
    transform: translate(-50%, 0);
    width: 1400px;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    line-height: 48px;
    position: absolute;
    display: flex;
    z-index: 100;
}
#logo {
    font-size: 25px;
}
#logo-menu {
    display: flex;
    font-size: 16px;
}
#logo-menu div {
    font-family: 'Permanent Marker', cursive;
}
.menu {
    margin-left: 48px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
#buttons {
    display: flex;
    width: auto;
    height: 32px;
    margin-top: 8px;
}
#buttons > button {
    padding: 0 12px !important;
    font-size: 16px;
}